<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.xb.imgspace">

    <application
        android:name=".application.ImgSpaceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.图片空间"
        tools:replace="android:theme"
        tools:targetApi="n">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name=".SpaceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserspaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Other_user_Activity" />
        <activity
            android:name=".SendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RealPicture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cut"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rotate"
            android:screenOrientation="portrait" />
        <service
            android:name=".service.PushService"
            android:exported="false" />
    </application>

    <permission
        android:name="sendOK"
        android:protectionLevel="signature" />

    <permission
        android:name="notlogin"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

</manifest>